<html>
  <header>
  </header>
  <body>
     {% include "header.html" %}
     <form action="/pass_change" method="POST">
        <div>
          Old password:
        </div>
        <input type="password" name="old_p"></input>
        <div>
          New password:
        </div>
        <input type="password" name="new_p"></input>
        <div>
          Re-enter new password:
        </div>
        <input type="password" name="new_p_c"></input>
        <div>
        <input type="submit" value="Change Password"/>
        </div>
     </form>
     {% if change_error is sameas "Password changed successfully." %}
      <div class="">
        {{ change_error }}
      </div>
     {% elif change_error is sameas "New passwords don't match. Please try again." %}
     <div class="">
       {{ change_error }}
     </div>
     {% elif change_error is sameas "Previous password entered incorrectly. Please try again." %}
     <div class="">
       {{ change_error }}
     </div>
     {% endif %}
     {% endif %}
     {% endif %}
     {% include "footer.html" %}
  </body>
</html>
