<html>
  <header>
  </header>
  <body>
     {% include "header.html" %}
     <form action="/pass_change" method="POST">
        <div>
          old password:
        </div>
        <input type="text" name="username"></input>
        <div>
          new password:
        </div>
        <input type="password" name="password"></input>
        <div>
          re-enter new password:
        </div>
        <input type="password" name="password"></input>
        <div>
        <input type="submit" value="Login"/>
        </div>
     </form>
     {% include "footer.html" %}
  </body>
</html>
